{% extends 'blog/base_2.html' %}
{% block content %}
    <div class="post">
        <p class="lead"></p>
        <div class="jumbotron">
            <h1 class="display-4" id="t1">{{ post.title }}</h1>
            <hr class="bg-dark">
            <p class="lead" id="p1">{{ post.text|linebreaksbr }}</p>
        </div>
        {% if post.published_date %}
            <div class="date text-white text-right"> 
                {{ post.published_date }}
            </div>
        {% endif %}
        <br>
        <button type="button" class="btn btn-success btn-block">
            <a href="{% url 'post_edit' pk=post.pk %}" class="text-white">Editar</a></button>
    </div>
{% endblock %}